[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hatchbuck = "==1.0.7"
oauthlib = "==1.0.3"
phonenumbers = "==8.9.7"
pycountry = "==18.5.26"
python-dotenv = "==0.9.1"
requests-oauthlib = "==0.6.1"
requests-toolbelt = "==0.6.0"
requests = "==2.9.1"
vobject = "==0.9.5"
vdirsyncer = "==0.10.0"
click = "==6.6"
click-log = "==0.1.4"
click-threading = "==0.1.2"
rocketchat-API = "==0.6.22"

[dev-packages]
tox = "*"

[requires]
python_version = "3.6"
