atomicwrites==1.2.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
click-log==0.3.2
click-threading==0.4.4
filelock==3.0.10
hatchbuck==1.0.18
idna==2.7
oauthlib==2.1.0
packaging==18.0
phonenumbers==8.9.16
pluggy==0.8.0
py==1.7.0
pycountry==18.5.26
pyparsing==2.3.0
python-dateutil==2.7.5
python-dotenv==0.9.1
requests==2.20.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rocketchat-API==0.6.22
six==1.11.0
toml==0.10.0
tox==3.5.3
urllib3==1.24.1
vdirsyncer==0.16.7
virtualenv==16.1.0
vobject==0.9.6.1
